<h1> {{ topics.username }} posted a topic</h1>
<h2>Topic: {{ topics.title }}</h2>
<h3>Description: {{ topics.text }}</h3>
<h4>Post your answer here</h4>
<form #postForm='ngForm' (submit)='onSubmit(post, postForm)'>
  <textarea name="answer" rows="4" cols="80"
  [(ngModel)]='post.text'
  #answer='ngModel'
  required
  minlength='5'></textarea><br>
  <input [disabled]='!postForm.valid' type="submit">
</form>
<div *ngIf='answer.errors && (answer.touched || postForm.submitted )' class='red'>
  <div *ngIf='answer.errors.required'>Post is required</div>
  <div *ngIf='answer.errors.minlength'>Post must be at least 5 characters</div>
</div>

<div *ngFor='let post of posts'>
  <h3><a [routerLink]="['/user', post._user._id]">{{ post._user.name }}</a>: {{ post.text }}
  (Votes: {{ post.vote }})</h3><br>
  <div *ngFor='let comment of post.comments'>
    <a [routerLink]="['/user', comment._user._id]">{{ comment._user.name }}</a> {{ comment.text }}
  </div>
  <form #commentForm='ngForm' (submit)='commentSubmit(comment.value, post._id, commentForm)'>
    <textarea name="comment" cols="40" rows="3"
    required
    minlength='5'
    #comment
    ></textarea><br>
    <input [disabled]='!commentForm.valid' type="submit" value="Comment">
  </form>
</div>
